In [1]:
import numpy as np

In [2]:
my_numpy_array = np.random.rand(3)

In [3]:
type(my_numpy_array)

numpy.ndarray

In [4]:
my_numpy_array[0]

0.8182681414214593

In [5]:
import pandas as pd

In [10]:
my_series = pd.Series(my_numpy_array, index=["First", "Second", "Third"])
my_series

First     0.818268
Second    0.306078
Third     0.397978
dtype: float64

In [11]:
my_series[0]

0.8182681414214593

In [12]:
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [13]:
array_2d = np.random.rand(3,2)

In [14]:
array_2d[0,1]

0.9632482871339926

In [15]:
df = pd.DataFrame(array_2d)

In [16]:
df

          0         1
0  0.211471  0.963248
1  0.083730  0.657162
2  0.294298  0.738567

In [17]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [18]:
df.columns = ["First", "Second"]

In [19]:
df

      First    Second
0  0.211471  0.963248
1  0.083730  0.657162
2  0.294298  0.738567

In [20]:
df["Second"]

0    0.963248
1    0.657162
2    0.738567
Name: Second, dtype: float64

In [32]:
# read the first 5 rows
#df = pd.read_csv('artwork_data.csv')

# All columns we are using
COLS_TO_USE = ['id', 'artist',
                  'title', 'medium', 'year', 'acquisitionYear', 'height',
                  'width', 'units']

In [44]:
df=pd.read_csv('artwork_data.csv',index_col='id',
                usecols=COLS_TO_USE)
df

C:\Users\wuamy\AppData\Local\Temp\ipykernel_21536\260144216.py:1: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('artwork_data.csv',index_col='id',

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419.0,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213.0,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785.0,1922.0,343,467.0,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394.0,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826.0,1919.0,243,335.0,mm
...,...,...,...,...,...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305,305.0,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305,305.0,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45,2410.0,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508,660.0,mm

In [36]:
import json

In [37]:
#example usage of from_records method
records = [("Espresso", '5$'),
          ("Flat White", "10$")]
pd.DataFrame.from_records(records)
pd.DataFrame.from_records(records,
                         columns=["Coffee", "Price"])

       Coffee Price
0    Espresso    5$
1  Flat White   10$

In [41]:
# import json 
KEYS_TO_USE = ['id', 'all_artists',
                  'title', 'medium', 'dateText', 'acquisitionYear', 'height',
                  'width', 'units']
def get_record_from_file(file_path, KEYS_TO_USE):
    with open(file_path) as artwork_file:
        content = json.load(artwork_file)
    
    record = []
    for field in KEYS_TO_USE:
        record.append(content[field])
    return tuple(record)

# single file processing
sample_record = get_record_from_file('a00001-1035.json', KEYS_TO_USE)

In [43]:
sample_record

(1035,
 'Robert Blake',
 'A Figure Bowing before a Seated Old Man with his Arm Outstretched in Benediction. Verso: Indecipherable Sketch',
 'Watercolour, ink, chalk and graphite on paper. Verso: graphite on paper',
 'date not known',
 1922,
 '419',
 '394',
 'mm')

In [48]:
# Demo1
df.artist
artists = df['artist']
pd.unique(artists)
len(pd.unique(artists))

3336

In [50]:
# demo 2
s = df['artist']=='Bacon, Francis'
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

In [51]:
# other way
artist_counts = df['artist'].value_counts()
artist_counts['Bacon, Francis']

50

In [59]:
# demo 3
df.loc[1035, 'artist']
#df.iloc[0, 0]
#df.iloc[0, :]
df.iloc[0:2, 0:2]

             artist                                              title
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...